nav.navbar {
  display: flex;
  align-items: center;
  background-color: #000;
  color: white;
  height: 70px;
  width: 100%;
  color: white;
}
nav.navbar button.login {
  margin-left: auto;
}

footer.footer {
  display: flex;
  align-items: center;
  background-color: #000;
  color: white;
  height: 50px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: calc(100vh - 70px - 50px);
}
